
.mainArea{
    height: 90%;
    background-color: #ededed;
}

.messageRow{
    padding-top: 20px;
}
.message{
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: #6ee784 ;
    padding: 8px;
    border-radius:15px;
    color: #fff;
    font-weight: 700;
}
.message i{
   margin: 0 10px 0 20px ;
}

.boxRow{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
}


/* tabler */

.tables{
    display: grid;
    grid-template-columns: 65% 35%;
}